<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Facts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <!-- Start with jumbotron -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars</h1>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3><strong>Latest Mars News</strong></h3>
                <h5>{{mars.news_title}}</h5>
                <p>{{mars.news_body}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3><strong>Featured Mars Image</strong></h3>
                <img src="{{mars.featured_image}}" width="100%" height="100%">
            </div>
            <div class="col-md-4" id="mars_facts">
                <h5>Mars Facts</h5>
                <p>{{mars.mars_facts | safe}}</p>
            </div>
        </div>
        <br>
        <br>
        
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center">Mars Hemispheres</h4>
                <hr>
            </div>
        </div>   
        <div class="row">
            {% for hemisphere in mars.mars_hemispheres %}
            <div class="col-lg-6">
                <div class="boxmargin">
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="{{hemisphere.url | safe}}" alt="hemisphere">
                        <div class="card-body">
                            <h5 class="card-title">{{hemisphere.title | safe}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
                
    </div>









    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>